.newEmp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 15px;
    margin-bottom: 30px;
}

button{
    margin-left: 15px;
}

h1{
    text-align: center;
}

h2{
    margin-left: 15px;
}